.ProductImage {
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .SelectProductImage {
    border: 2px solid teal;
  }
  
  .FeatureItem {
    min-width: 80px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    margin-right: 12px;
    font-weight: 600;
    box-sizing: content-box;
    padding: 12px 24px;
    cursor: pointer;
  }
  
  
  .SelectedFeatureItem {
    color: white;
    background-color: gray;
  }
  
  .PrimaryButton {
    color: white;
    background-color: teal;
    border: 0;
    padding: 12px 24px;
    min-width: 80px;
    box-sizing: content-box;
    border-radius: 8px;
    margin-top: 24px;
  
    font-weight: 600;
  }

  .ProductTitle{
    font-size: 48px;
    font-weight: 600;
  }
  
  .ProductDescription{
    font-size: 26px;
    color: rgba(0,0, 0, 0.7);
  }
  
  .SectionHeading{
    font-size: 28px;
    margin-bottom: 8px;
  }