.TopBar {
    width: 100%;
    background-color: #282c34;
    padding: 24px 48px 12px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.TopBar>img {
    width: 100px;
    /* height: 60px; */
}