.MainContainer {
  width: 100%;
  padding: 4% 12%;
  margin-top: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.ProductPreview {
  width: 50%;
  position: relative;
}

.ProductDetails {
  width: 50%;
}